<a href="https://colab.research.google.com/github/KlymT/Py_R_for_DS-/blob/master/Pandas%26numpy_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнє завдання Pandas&Numpy

Дедлайн: **3 квітня**.

Суть задачі: виконати описані нижче перетворення з датасетом про забраних тварин із притулку та надіслати код цих перетворень у форматі Yupyter Notebook в телеграм Роману Кириченку.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/alexlorenzo/Pet.my/master/datasets/train.csv")
color_labels = pd.read_csv("https://raw.githubusercontent.com/alexlorenzo/Pet.my/master/datasets/color_labels.csv")
breed_labels = pd.read_csv("https://raw.githubusercontent.com/alexlorenzo/Pet.my/master/datasets/breed_labels.csv")

In [ ]:
df.head()

   Type         Name  Age  ...      PetID  PhotoAmt  AdoptionSpeed
0     2       Nibble    3  ...  86e1089a3       1.0              2
1     2  No Name Yet    1  ...  6296e909a       2.0              0
2     1       Brisco    1  ...  3422e4906       7.0              3
3     1         Miko    4  ...  5842f1ff5       8.0              2
4     1       Hunter    1  ...  850a43f90       3.0              2

[5 rows x 24 columns]

# Опис змінних

**PetID** - Унікальне hash ID тварини.

**AdoptionSpeed** - Швидкість адаптації тварини. 0 -  в той же день, коли забрали, 1 - в перший тиждень, 2 - в перший місяць, 3 - в перші три місяці, 4 - не адаптувалася за три місяці.

**Type** - Тип тварини (1 = собака, 2 = кіт).

**Name** - Кличка тварини.

**Age** - Вік тварини в місяцях.

**Breed1** - Основна порода тварини.

**Breed2** - Друга порода тварини.

**Gender** - Гендер тварини (1 = чоловік, 2 = жінка, 3 = змішано (якщо продається відразу декілька тварин)).

**Color1** - Колір 1 тварини.

**Color2** - Колір 2 тварини.

**Color3** - Колір 3 тварини.

**MaturitySize** - Розмір, коли виросте (1 = маленький, 2 = середній, 3 = веилкий, 4 = дуже великий, 0 = невідомо).

**FurLength** - Довжина шерсті (1 = коротка, 2 = середня, 3 = довга, 0 = невідомо).

**Vaccinated** - Вакцинованість тварини (1 = так, 2 = ні, 3 = невідомо).

**Dewormed** - Деглистизованість тварини (1 = так, 2 = ні, 3 = невідомо).

**Sterilized** - Стерилізованість тварини (1 = так, 2 = ні, 3 = невідомо).

**Health** - Стан здоров'я (1 = здорова, 2 = трохи травмована, 3 = сильно травмована, 0 = невідомо).

**Quantity** - Кількість тварин, що є в профілі.

**Fee** - Плата за приручення.

**State** - Місто.

**RescuerID** - Унікальне hash ID рятівника.

**VideoAmt** - Кількість відео тварини.

**PhotoAmt** - Кількість фотографій тварини.

**Description** - Опис тварини у профілі.

# Задачі

1. Виведіть засобами pandas три найпопулярніші клички тварин.
2. Створіть нову змінну на основі змінної **Name**. Нова змінна має відображати, чи у тварини унікальна кличка (1), чи поширена (0). Унікальна кличка - коли лише одна тварина в масиві має таку кличку, якщо кличка зустрічається 2 рази і більше - вона не унікальна.
3. Побудуйте гістограму віку тварин (pandas чи matplotlib).
4. Перекодуйте змінну **State** через one-hot encoder. Після цього саму змінну видаліть.
5. Створіть нову змінну - "чистокровність тварини". Тварина "чистокровна", коли вона походить від представників однієї породи. У змішаних порід поля **Breed1 & Breed2** заповнені.
6. Закодуйте через one-hot encoder популярні породи тварин (тільки ті, представників яких у масиві більше 150). Але перед цим візьміть з довідника порід і замініть числові коди на назви тварин (таблиця breed_labels.csv). Те саме для більшої зрозумілості даних зробіть із кольорами тварин (таблиця color_labels.csv).
7. Перекодуйте змінну **RescuerID** так, щоб замість ID у якості коду була кількість тварин, яких узяв до себе цей "спаситель".
8. Створіть нову змінну - мова оголошення на основі змінної **Description**. Там оголошення на трьох мовах - англійській, китайські та майлайзійській.
9. Створіть змінну-індекс оцінки здоров'я тварини на основі змінних **Vaccinated, Dewormed, Sterilized**. Для цього перекодуйте значення 2 в 0, значення 3 - в пропущене і додайте ці три змінні одне до одної.
10. Створіть нову змінну на основі змінної **Name**. Нова змінна має відображати кількість тварин, що віддаються. Якщо записано тільки одну кличку - це одна тварина, дві і більше - група тварин.
11. Виведіть матрицю кореляцій змінних масиву, попередньо замінивши пусті значення в масиві на медіану. Яка пара кореляює найбільше?
12. Приведіть масив у готовність до моделювання: видаліть категоріальні  змінні, які лишилися, змінні кольору перетворіть також у бінарні. Перевторений масив розділіть на 4 матриці: train, test, y_train, y_test, при цьому їх пропорція має складати 80/20.